@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

html {
  overflow-x: hidden;
}

.normal {
  background: #3a4764;
  color: white;
}

.normal #slider {
  background: #232c43;
}

.normal #slider::-webkit-slider-thumb {
  background: #d03f2f;
}

.normal .result {
  background: #182034;
}

.normal .buttons {
  background: #232c43;
}

.normal .buttons .btn {
  background: #eae3dc;
  color: #444b5a;
  -webkit-box-shadow: 2px 2px 2px #b4a597;
          box-shadow: 2px 2px 2px #b4a597;
}

.normal .buttons .btn-del,
.normal .buttons .btn-reset {
  background: #637097;
  -webkit-box-shadow: 2px 2px 2px #404e72;
          box-shadow: 2px 2px 2px #404e72;
  color: white;
}

.normal .buttons .btn-equal {
  background: #d03f2f;
  -webkit-box-shadow: 2px 2px 2px #93261a;
          box-shadow: 2px 2px 2px #93261a;
  color: white;
}

.light {
  background: #e6e6e6;
  color: #35352c;
}

.light .top #slider {
  background: #d1cccc;
}

.light .top #slider::-webkit-slider-thumb {
  background: #ca5502;
}

.light .result {
  background: #ededed;
}

.light .buttons {
  background: #d1cccc;
}

.light .buttons .btn {
  background: #e5e4e1;
  color: #444b5a;
  -webkit-box-shadow: 2px 2px 2px #a69d91;
          box-shadow: 2px 2px 2px #a69d91;
}

.light .buttons .btn-del,
.light .buttons .btn-reset {
  background: #377f86;
  -webkit-box-shadow: 2px 2px 2px #1b5f65;
          box-shadow: 2px 2px 2px #1b5f65;
  color: white;
}

.light .buttons .btn-equal {
  background: #ca5502;
  -webkit-box-shadow: 2px 2px 2px #893901;
          box-shadow: 2px 2px 2px #893901;
  color: white;
}

.dark {
  background: #341c4f;
  color: #ffe53d;
}

.dark .top #slider {
  background: #1d0934;
}

.dark .top #slider::-webkit-slider-thumb {
  background: #00e0d1;
}

.dark .result {
  background: #1d0934;
}

.dark .buttons {
  background: #1d0934;
}

.dark .buttons .btn {
  background: #341c4f;
  -webkit-box-shadow: 2px 2px 2px #871c9c;
          box-shadow: 2px 2px 2px #871c9c;
}

.dark .buttons .btn-del,
.dark .buttons .btn-reset {
  background: #58077d;
  -webkit-box-shadow: 2px 2px 2px #bc15f4;
          box-shadow: 2px 2px 2px #bc15f4;
  color: #444b5a;
  color: white;
}

.dark .buttons .btn-equal {
  background: #00e0d1;
  -webkit-box-shadow: 2px 2px 2px #6cf9f2;
          box-shadow: 2px 2px 2px #6cf9f2;
  color: #1b2428;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em;
}

body .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .top .left {
  font-size: 32px;
}

body .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .top .right span {
  font-size: 16px;
  margin-right: 20px;
  text-transform: uppercase;
}

body .top .right #slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 80px;
  width: 80px;
  padding: 5px;
  cursor: pointer;
}

body .top .right #slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

body .result {
  font-size: 32px;
  width: 100%;
  height: 16vh;
  border-radius: 8px;
  margin: 1em 0;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .result #number {
  text-align: right;
  width: 100%;
}

body .result #number .operator {
  margin: 0 5px;
}

body .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  border-radius: 8px;
  padding: 20px;
}

body .buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 32px;
}

body .buttons .btn-reset,
body .buttons .btn-equal {
  grid-column: span 2;
  width: 100%;
}

body .buttons .btn-reset,
body .buttons .btn-equal,
body .buttons .btn-del {
  font-size: 18px;
}

@media screen and (max-width: 775px) {
  body {
    padding: 1em;
  }
  body .top .left {
    font-size: 26px;
  }
  body .top .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .top .right span {
    font-size: 14px;
    margin-right: 20px;
    text-transform: uppercase;
  }
  body .result {
    font-size: 16px;
    padding: 0 20px;
  }
  body .buttons {
    grid-gap: 15px;
  }
  body .buttons .btn {
    padding: 15px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */